/*
CSS-Definitionen für Kalender-Plugin
*/
/*
    Created on : 21.09.2020, 21:41:18
    Author     : kngroh
*/

.kalender {
    background-color: #fff;
    a {
        color: #6152a3;
    }
    a:hover {
        color: #adb5bd;
    }
    .menue {
        background-color: #000;
    }
}
