/*
Mixins File for Wordpress Theme FAU
*/

@mixin box-shadow($shadow) {
  	-webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin linear-gradient($fromColor, $toColor) {
    background-color: $fromColor; /* Fallback Color */
    background-image: -webkit-gradient(linear, left, right, from($fromColor), to($toColor)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(left, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(left, $fromColor, $toColor); /* FF3.6 */
    background-image: -ms-linear-gradient(left, $fromColor, $toColor); /* IE10 */
    background-image: -o-linear-gradient(left, $fromColor, $toColor); /* Opera 11.10+ */
    background-image: linear-gradient(left, $fromColor, $toColor);
}


@mixin radial-gradient($color2, $color1) {
	background: $color2;
	background: -moz-radial-gradient(center, ellipse cover, $color1 0%, $color2 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$color1), color-stop(100%,$color2));
	background: -webkit-radial-gradient(center, ellipse cover, $color1 0%,$color2 100%);
	background: -o-radial-gradient(center, ellipse cover, $color1 0%,$color2 100%);
	background: -ms-radial-gradient(center, ellipse cover, $color1 0%,$color2 100%);
	background: radial-gradient(ellipse at center, $color1 0%,$color2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 );
}

@mixin radial-gradient-image($color2, $color1, $image) {
	background: $image, $color2;
	background: $image, -moz-radial-gradient(center, ellipse cover, $color1 0%, $color2 100%);
	background: $image, -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$color1), color-stop(100%,$color2));
	background: $image, -webkit-radial-gradient(center, ellipse cover, $color1 0%,$color2 100%);
	background: $image, -o-radial-gradient(center, ellipse cover, $color1 0%,$color2 100%);
	background: $image, -ms-radial-gradient(center, ellipse cover, $color1 0%,$color2 100%);
	background: $image, radial-gradient(ellipse at center, $color1 0%,$color2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 );
}

@mixin transition($duration, $params) {
	-webkit-transition: $duration $params;
	-moz-transition: $duration $params;
	-ms-transition: $duration $params;
	transition: $duration $params;
}

@mixin hyphens($value) {
	-moz-hyphens: $value;
	-o-hyphens: $value;
	-webkit-hyphens: $value;
	-ms-hyphens: $value;
	hyphens: $value;
}

@mixin placeholder($color) {
	::-webkit-input-placeholder {
		color: $color;
	}
	:-moz-placeholder {
		color: $color;
	}
	::-moz-placeholder {
		color: $color;
	}
	:-ms-input-placeholder {
		color: $color;
	}
}

@mixin no-list() {
	list-style: none;
	margin: 0;
	padding: 0;
	background: none;
	
	&:before {
		display: none;
	}
}
// neu für Hauptnav
@mixin triangle-list($fontSize, $color) {
	list-style: none;
	margin: 0;
	padding: 0;
	background: none;
	
	&:before {
            @extend .fa;
            @extend .fa-angle-right;	
            font-weight: bold;
            //display: table-cell;
            color: $color;
            width: 20px;
            font-size: $fontSize;
	}
}
// neu für Hauptnav
@mixin triangle-list-down($fontSize, $color) {
	list-style: none;
	margin: 0;
	padding: 0;
	background: none;
	
	&:before {
            @extend .fa;
            @extend .fa-angle-down;	
            font-weight: bold;
            //display: table-cell;
            color: $color;
            width: 20px;
            font-size: $fontSize;
	}
        
}


// neu für Meta-Nav unten
@mixin button-list() {
	//list-style-type: circle;
	margin: 0;
	padding: 0;
	background: none;
        list-style: none;
	
	//&:before {
	//	display: none;
	//}
 
            &:after {
            content: ' ';
            display: inline-block;
            width: 100%;
            
        }
        
}

@mixin inline-block() {
	display: inline-block; 
	*display:inline; 
	*zoom:1;
}
@mixin hideout() {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
          border-color: darken($border, 25%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

// WebKit-style focus

@mixin tab-focus() {
  // WebKit-specific. Other browsers will keep their default outline style.
  // (Initially tried to also force default via `outline: initial`,
  // but that seems to erroneously remove the outline in Firefox altogether.)
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// Opacity

@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: alpha(opacity=$opacity-ie);
}

// Single side border-radius

@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
   border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
     border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
   border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
     border-top-left-radius: $radius;
}

// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}


// Horizontal dividers
//
// Dividers (basically an hr) within dropdowns and nav lists

@mixin nav-divider($color: #e5e5e5) {
  height: 1px;
  margin: (($line-height-computed / 2) - 1) 0;
  overflow: hidden;
  background-color: $color;
}

// Reset filters for IE
//
// When you need to remove a gradient background, do not forget to use this to reset
// the IE filter for IE9 and below.

@mixin reset-filter() {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}


